@import url("http://fonts.cdnfonts.com/css/monument-extended");
* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  /* font-family: "Monument Extended", sans-serif;
   */
  font-family: "Segoe UI", sans-serif;

  color: black;
}
